html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    max-width: 400px;
    margin: auto;
    padding: 15px;
    line-height: 1.6;
    background-image: url("../graphics/notes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    resize: horizontal;
    overflow: auto;
}

@media (max-width: 1220px) {
    .body {
        background-size: 1220px auto;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    background: linear-gradient(to right, #FFA500, #FFFF00, #FFA500);
    background-size: 200% 100%;
    width: 550px;
    height: 400px;
}

.container {
    animation: wave 3s linear infinite;
}

@keyframes wave {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }